.App {
  text-align: center;
  align-items: center;
  width: auto;
  margin: 50pt 25pt;
  padding: 25pt 25pt;
}

/* .tmdb-logo{
  position: absolute;
  height: 72.19px;
  width: 64px;
  top: 8px;
  left: 16px;
}

.react-logo {
  position: absolute;
  height: 72.19px;
  width: 64px;
  top: 8px;
  right: 16px;
} */