.movie-input{
    border: 1px solid rgb(rgb(96, 163, 96), green, blue);
    background: rgb(rgb(96, 163, 96), green, blue);
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.title {
    width: 90%;
    font-weight: bold;
    margin: 2px auto;
    padding: 2px;
}

.overview {
    width: 90%;
    margin: 2px auto;
    border: 1px solid #deeede;
    box-shadow: 0 2px 3px #dddddd;
    padding: 2px;
}